export(sc.CompactSeurat)
export(sc.linux.RunMAST)
export(sc.linux.RunWilcox)
export(sc.windows.RunMAST)
export(sc.windows.RunWilcox)

import(Seurat)
import(SeuratObject)
import(MAST)
import(BiocParallel)
import(dplyr)
import(SingleCellExperiment)
importFrom(SummarizedExperiment, Assays)
